<% j = @job %>
<% if j.expired? %>
  Vaga Expirada
<% end %>
<h1><%= j.title %></h1>
<% if j.featured %>
    <strong>Destaque</strong>
<% end %>
<%= j.company.name %>
<%= j.category.name %>
<%= j.description %>
<%= j.location %>
<%= link_to 'Voltar', root_path %>
