
<% @jobs.each do |j| %>
  <% unless j.expired? %>
    <h1><%= link_to j.title, job_path(j) %></h1>
    <% if j.featured %>
      <strong>Destaque</strong>
    <% end %>
    <%= j.category.name %><br>
    <%= j.location %>
  <% end %>
<% end %>

<% @companies.each do |co| %>
  <%= link_to(co.name, co) %>
<% end %>

<% @categories.each do |ca| %>
  <%= link_to(ca.name, ca) %>
<% end %>


